<div class="c-dialog c-dialogScanner"
     [ngClass]="{'c-dialog--small c-dialog--autoHeight': abonementHasAlreadyBeenUsed, 'c-dialog--fullHeight': !abonementHasAlreadyBeenUsed}">

  <ng-container *ngIf="abonementHasAlreadyBeenUsed; else order">
    <div class="c-dialog__header">
      <p class="c-dialog__title">{{'QR-код сканер' | translate}}</p>
      <button class="c-dialog__close" matDialogClose>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="c-dialog__body c-dialog__body--center c-dialog__body--padding">
      <p class="c-dialog__text c-dialog__text--center" style="font-size: 40px;">🧐</p>
      <p class="c-dialog__text c-dialog__text--center c-dialog__text--error">
        {{abonementHasAlreadyBeenUsed | translate}}
      </p>
    </div>
  </ng-container>
  <ng-template #order>

    <ng-container *ngIf="result; else scanner">
      <ng-container *ngIf="getInformation.closed else informationLoading">
        <div class="c-dialog__header">
          <p class="c-dialog__title">{{'QR-код сканер' | translate}}</p>
          <button class="c-dialog__close" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <div class="c-dialog__body c-dialog__body--padding">
          <div *ngIf="!isDialogNotificationHide" class="c-dialogNotification c-dialogNotification--warn">
            <mat-icon class="c-dialogNotification__icon">info</mat-icon>
            <p class="c-dialogNotification__text">
              {{'QrCode успішно сканований, після того як видасте замовлення, не забудьте натиснути на кнопку списати.' | translate}}
            </p>
            <button class="c-dialogNotification__close" (click)="isDialogNotificationHide = !isDialogNotificationHide">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <ng-container *ngIf="user">
            <p class="c-dialog__bodyTitle c-dialog__bodyTitle--small">{{'Замовлення від:'| translate}} {{user.name}}</p>
            <p class="c-dialog__text c-dialog__text--small">{{'Email' | translate}}: {{user.email}}</p>
          </ng-container>
          <div class="c-dialogTable">
            <div class="c-dialogTable__row c-dialogTable__row--head">
              <div class="c-dialogTable__cell c-dialogTable__cell--notPhones">№</div>
              <div class="c-dialogTable__cell">{{'Товар' | translate}}</div>
              <div class="c-dialogTable__cell">{{'Кількість' | translate}}</div>
            </div>
            <div class="c-dialogTable__row" *ngFor="let abonement of usedAbonements; let i = index">
              <div class="c-dialogTable__cell c-dialogTable__cell--notPhones"><span class="mob">№:</span> {{i + 1}}
              </div>
              <div class="c-dialogTable__cell"><span class="mob">
                {{'Товар' | translate}}:</span>
                <div>
                  {{abonement.product_name}}
                  <ul class="c-dialogTable__cellSupplements">
                    <li *ngFor="let option of abonement.supplement_options">
                      {{option.name}}<ng-container *ngIf="option.quantity > 1">({{option.quantity}})</ng-container>,
                    </li>
                  </ul>
                </div>
              </div>
              <div class="c-dialogTable__cell"><span class="mob">{{'Кількість' | translate}}
                :</span> {{abonement.quantity}}{{'шт' | translate}}</div>
            </div>
          </div>

        </div>
        <div *ngIf="result" class="c-dialog__footer">
          <div class="c-dialog__footerBtns">
            <button *ngIf="abonementHasAlreadyBeenUsed" class="o-button o-button--gray" matRipple matDialogClose>
              {{'Закрити' | translate}}
            </button>
            <button *ngIf="!abonementHasAlreadyBeenUsed" class="o-button o-button--gray" matRipple
                    (click)="closeDialog()">
              <ng-container *ngIf="deletingOrCodeAbonementsSub.closed; else btnLoading">
                {{'Відмінити' | translate}}
              </ng-container>
            </button>
            <button *ngIf="!abonementHasAlreadyBeenUsed" class="o-button o-button--secondary" matRipple
                    (click)="writeOffAbonements()">
              <ng-container *ngIf="writeOffAbonementsSub.closed; else btnLoading">
                {{'Списати' | translate}}
              </ng-container>
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #informationLoading>
        <spinner class="c-dialogScanner__spinner"></spinner>
      </ng-template>
    </ng-container>
    <ng-template #scanner>
      <div class="c-dialogScanner__closeBtns">
        <button class="c-dialog__close" matDialogClose>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="c-dialog__body c-dialog__body--center c-dialog__body--notPadding">

        <div class="c-dialogScanner__wrapper">
          <ng-container *ngIf="!error; else scanError">
            <p class="c-dialogScanner__text">{{'Наведіть камеру на QR-код' | translate}}</p>
            <zxing-scanner
              class="c-dialogScanner__scanner"
              previewFitMode="cover"
              [autofocusEnabled]="true"
              (camerasNotFound)="camerasNotFoundHandler($event)"
              (scanSuccess)="scanSuccessHandler($event)"
              (scanError)="scanErrorHandler($event)"
              (scanFailure)="scanFailureHandler()"
              (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
            <div *ngIf="isScanLoaded" class="c-dialogScanner__frame">
              <span class="c-dialogScanner__frameBorder topLeft"></span>
              <span class="c-dialogScanner__frameBorder topRight"></span>
              <span class="c-dialogScanner__frameBorder bottomLeft"></span>
              <span class="c-dialogScanner__frameBorder bottomRight"></span>
              <p class="c-dialogScanner__frameText">QR-Code</p>
            </div>
          </ng-container>
          <ng-template #scanError>
            <p class="c-dialogScanner__error">{{error | translate}}</p>
            <button class="o-button o-button--gray"
                    (click)="scanAgain()">{{'Сканувати ще раз' | translate}}</button>
          </ng-template>
        </div>
      </div>
      <spinner *ngIf="!isScanLoaded && !error" class="c-dialogScanner__spinner"></spinner>
    </ng-template>

  </ng-template>
</div>

<ng-template #btnLoading>
  <spinner class="o-buttonSpinner o-buttonSpinner--white"></spinner>
</ng-template>

<audio hidden #audioOption>
  <source src='/assets/audio/scan.mp3' type="audio/mp3">
</audio>
