<form class="c-dialog c-dialog--autoHeight c-dialog--small" [formGroup]="form" (ngSubmit)="updateEstablishment()">
  <div class="c-dialog__header">
    <p class="c-dialog__title">{{'Редагування кав\'ярні' | translate}}</p>
    <button class="c-dialog__close" type="button" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="c-dialog__body c-dialog__body--center c-dialog__body--padding">
    <image-preview [url]="API_URL + data.img"
                   [title]="'Зображення закладу' | translate"
                   [formControlInput]="form.controls['img']"></image-preview>

    <mat-form-field>
      <mat-label>{{'Вкажіть місто кав\'ярні' | translate}}</mat-label>
      <mat-select
        disableOptionCentering
        formControlName="region_id"
        role="listbox"
        [disabled]="!getCitiesSub.closed"
        required>
        <mat-option>
          <ngx-mat-select-search
            [formControl]="areaFilterCtrl"
            [placeholderLabel]="'Знайти потрібне місто' | translate"
            noEntriesFoundLabel="{{'Такого міста немає' | translate}} 😞"
            ariaLabel="'Знайти потрібне місто' | translate"></ngx-mat-select-search>
        </mat-option>
        <mat-optgroup *ngFor="let area of filteredArea | async" [label]="area.name_en | getLocalizationCityKey | translate">
          <mat-option *ngFor="let region of area.regions" [value]="region.id" role="listitem">
            {{region.name_en | getLocalizationCityKey | translate}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'Введіть адресу' | translate}}</mat-label>
      <label>
        <input type="text" matInput formControlName="address" [placeholder]="'Вул. або координати Google Maps' | translate" [value]="data.address">
      </label>
    </mat-form-field>

    <mat-error *ngIf="error">{{error | translate}}</mat-error>
  </div>
  <div class="c-dialog__footer">
    <div class="c-dialog__footerBtns">
      <button class="o-button o-button--secondary" type="submit" [disabled]="!form.dirty">
        <ng-container *ngIf="updatingSub.closed; else updatingLoading">
          <span class="o-buttonText">{{'Зберегти зміни' | translate}}</span>
        </ng-container>
        <ng-template #updatingLoading>
          <spinner class="o-buttonSpinner"></spinner>
        </ng-template>
      </button>
    </div>
  </div>
</form>
