<div class="c-privacyPolicy">

  <scroll-top></scroll-top>

  <div class="container">
    <div class="c-privacyPolicy__title">
      <button class="c-privacyPolicy__titleBack" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
      <h1 class="c-privacyPolicy__titleText">{{'Політика конфіденційності CoffeePhone' | translate}}</h1>
    </div>
    <p class="c-privacyPolicy__lastUpdated">{{'Останнє оновлення' | translate}}: 10.08.2021</p>

    <section class="c-privacyPolicy__content">
      <p>{{'Ми піклуємося про конфіденційність своїх клієнтів і вважаємо своїм обов\'язком поважати та оберігати їх персональні дані.' | translate}}</p>
      <p>{{'Дана Політика конфіденційності персональних даних (надалі - “Політика”) діє відносно всієї інформації, яку онлайн сервіс CoffeePhone, розташований за адресою - https://coffeephone.net, може отримати про Користувача під час використання сайту https://coffeephone.net, програм і товарів онлайн сервісу CoffeePhone, в тому числі мобільного додатку CoffeePhone.' | translate}}</p>
      <p>{{'Коли ви відвідуєте сайт https://coffeephone.net або реєструєтеся в мобільному додатку CoffeePhone , ми обробляємо ваші персональні дані згідно з даною Політикою, положення якої викладені нижче. Тому вам необхідно надати згоду на обробку персональних даних та підтвердження, що ви ознайомилися з нашою Політикою обробки персональних даних.' | translate}}</p>

      <h2>{{'Політика конфіденційності персональних даних' | translate}}</h2>

      <h3>{{'Загальні положення' | translate}}</h3>
      <p>{{'Дана Політика складена відповідно до вимог ЗУ “Про захист персональних даних” від 01.06.2010 № 2297-VI (надалі - “Закон про захист персональних даних”) і визначає порядок обробки персональних даних та заходи щодо забезпечення безпеки персональних даних, що вживаються Адміністрацією сайту https://coffeephone.net, в особі ФОП “Булавін Ярослав Валерійович” (далі - Оператор).' | translate}}</p>

      <p>{{'Оператор поважає конфіденційність Ваших даних та ставить своєю найважливішою метою і умовою здійснення своєї діяльності дотримання прав і свобод людини і громадянина при обробці його персональних даних, в тому числі захисту прав на недоторканність приватного життя, особисту і сімейну таємницю. Ця Політика конфіденційності охоплює питання збору, використання, розголошення, накопичення,  передачі та зберігання Ваших персональних даних та застосовується до всієї інформації, яку Оператор може отримати про відвідувачів веб-сайту https://coffeephone.net та користувачів Додатку CoffeePhone.' | translate}}</p>

      <p>{{'При реєстрації на Онлайн-сервісі CoffeePhone, Ви погоджуєтеся на збір, використання, розкриття і обробку Ваших персональних даних, як описано в цій Політиці конфіденційності.' | translate}}</p>

      <h3>{{'Основні поняття, що використовуються в Політиці' | translate}}</h3>
      <p>{{'Для того, щоб Ви розуміли як оброблятимуться Ваші дані, спочатку ми пояснимо терміни, що використовуються у цій Політиці:' | translate}}</p>
      <ul>
        <li>{{'Персональні дані – будь-які відомості про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована (зокрема, відомості про Вас);' | translate}}</li>
        <li>{{'Суб’єкт персональних даних – ідентифікована чи така, що може бути ідентифікована фізична особа (зокрема, Ви), персональні дані якої обробляються володільцем персональних даних, який є відповідальним за обробку таких даних;' | translate}}</li>
        <li>{{'Обробка персональних даних – будь-яка дія або сукупність дій, котрі вчиняються по відношенню до персональних даних або сукупності персональних даних, такі як збирання, реєстрація, накопичення, зберігання, адаптування, зміна, поновлення, знеособлення, використання і поширення шляхом передачі, розповсюдження чи іншим способом, що робить такі дані доступними, комбінування, обмеження чи знищення персональних даних, у тому числі з використанням інформаційних (автоматизованих) систем;' | translate}}</li>
        <li>{{'Автоматизована обробка персональних даних - обробка персональних даних за допомогою засобів обчислювальної техніки;' | translate}}</li>
        <li>{{'Блокування персональних даних - тимчасове припинення обробки персональних даних (за винятком випадків, якщо обробка необхідна для уточнення персональних даних);' | translate}}</li>
        <li>{{'Веб-сайт - сукупність графічних і інформаційних матеріалів, а також програм для ЕОМ і баз даних, що забезпечують їх доступність в мережі інтернет за мережевою адресою https://coffeephone.net;' | translate}}</li>
        <li>{{'Обмеження щодо обробки персональних даних – позначення персональних даних, що зберігаються, з метою обмеження їхньої обробки в майбутньому;' | translate}}</li>
        <li>{{'Володілець персональних даних – фізична або юридична особа, яка самостійно або спільно з іншими особами визначає мету обробки персональних даних, встановлює склад цих даних та процедури їх обробки (зокрема, Оператор);' | translate}}</li>
        <li>{{'Розпорядник персональних даних – фізична чи юридична особа, якій володільцем персональних даних надано право обробляти ці дані від імені Володільця;' | translate}}</li>
        <li>{{'Згода суб’єкта персональних даних – добровільне волевиявлення фізичної особи щодо надання дозволу на обробку її персональних даних відповідно до сформульованої мети їх обробки, висловлене у формі, що дає змогу зробити висновок про надання згоди;' | translate}}</li>
        <li>{{'Інформаційна система персональних даних - сукупність інформації, яка міститься в базах персональних даних, і забезпечує їх обробку з використанням інформаційних технологій і технічних засобів;' | translate}}</li>
        <li>{{'Знеособлення персональних даних - дії, в результаті яких неможливо визначити без використання додаткової інформації приналежність персональних даних конкретному Користувачеві чи іншому суб\'єкту персональних даних.' | translate}}</li>
        <li>{{'Персональні дані, дозволені суб\'єктом персональних даних для поширення, - персональні дані, доступ необмеженого кола осіб до яких надано суб\'єктом персональних даних шляхом надання згоди на обробку персональних даних, дозволених суб\'єктом персональних даних для поширення в порядку, передбаченому Законом про персональні дані (далі - персональні дані, дозволені для поширення);' | translate}}</li>
        <li>{{'Користувач - будь-який відвідувач веб-сайту https://coffeephone.net або особа, яка використовує додаток CoffeePhone' | translate}}</li>
        <li>{{'Поширення персональних даних - будь-які дії, спрямовані на розкриття персональних даних невизначеному колу осіб (передача персональних даних) або на ознайомлення з персональними даними необмеженого кола осіб, в тому числі оприлюднення персональних даних в засобах масової інформації, розміщення в інформаційно-телекомунікаційних мережах або надання доступу до персональних даних будь-яким іншим способом;' | translate}}</li>
        <li>{{'Знищення персональних даних - будь-які дії, в результаті яких персональні дані знищуються безповоротно з неможливістю подальшого відновлення змісту персональних даних в інформаційній системі персональних даних та (або) знищуються матеріальні носії персональних даних;' | translate}}</li>
        <li>{{'IP-адреса – унікальний ідентифікатор, який використовується певними електронними пристроями для ідентифікації та обміну даними один з одним в мережі Інтернет;' | translate}}</li>
      </ul>

      <h3>{{'Основні права та обов\'язки Оператора' | translate}}</h3>
      <p><b>{{'Оператор має право:' | translate}}</b></p>

      <ul>
        <li>
          <p>{{'надавати персональні дані Користувачів третім особам в таких випадках:' | translate}}</p>
          <ol>
            <li>{{'Оператор отримав додаткову згоду Користувача щодо надання його персональних даних третім особам;' | translate}}</li>
            <li>{{'Оператор надає таку інформацію своїм партнерам, дочірнім компаніям, агентствам та субпідрядникам та іншим третім особам з метою, для якої така інформація була зібрана. Оператор зобов’язується вимагати від таких осіб згоди на використання наданої інформації у відповідності з даною Політикою та чинним законодавством України;' | translate}}</li>
            <li>{{'правоохоронним та іншим державним органам у відповідь на їхній офіційний запит, який стосується кримінального провадження або можливої протиправної діяльності. В такому випадку Оператор розкриває інформацію, яка стосується кримінального провадження, а саме: ім’я, номер мобільного телефону, електронну адресу, дату народження Користувачів;' | translate}}</li>
          </ol>
        </li>
        <li>{{'надавати третім особам загальну інформацію (статистичні дані, узагальнену інформацію), яка не містить персональних даних Користувачів, і яка не ідентифікує Користувача індивідуально.' | translate}}</li>
        <li>{{'у разі відкликання Суб\'єктом персональних даних згоди на обробку персональних даних, продовжити обробку персональних даних без згоди Суб\'єкта персональних даних при наявності підстав, зазначених у Законі про персональні дані.' | translate}}</li>
        <li>{{'самостійно визначати склад і перелік заходів, необхідних і достатніх для забезпечення виконання обов\'язків, передбачених Законом про персональні дані та прийнятими відповідно до нього нормативно-правовими актами, якщо інше не передбачено Законом про персональні дані.' | translate}}</li>
      </ul>

      <p>{{'Також Оператор має право направляти Користувачеві повідомлення про нові товари та послуги, спеціальні пропозиції та різні події. Користувач завжди може відмовитися від отримання інформаційних повідомлень, направивши Оператору лист на адресу електронної пошти support@coffeephone.net з позначкою «Відмова від повідомлень про нові товари і послуги та спеціальні пропозиції».' | translate}}</p>
      <p>{{'Знеособлені дані користувачів, що збираються за допомогою сервісів інтернет-статистики, служать для збору інформації про дії користувачів на сайті або Додатку, поліпшення якості сайту або Додатку та його змісту.' | translate}}</p>

      <p><b>{{'Оператор зобов\'язаний:' | translate}}</b></p>
      <ul>
        <li>{{'надавати Суб\'єкту персональних даних на його прохання інформацію, що стосується обробки його персональних даних;' | translate}}</li>
        <li>{{'організовувати обробку персональних даних в порядку, встановленому чинним законодавством України;' | translate}}</li>
        <li>{{'відповідати на звернення та запити суб\'єктів персональних даних і їх законних представників відповідно до вимог Закону про персональні дані;' | translate}}</li>
        <li>{{'повідомляти в уповноважений орган із захисту прав суб\'єктів персональних даних за запитом цього органу необхідну інформацію протягом 30 днів з дати отримання такого запиту;' | translate}}</li>
        <li>{{'публікувати або іншим чином забезпечувати необмежений доступ до цієї Політики;' | translate}}</li>
        <li>{{'приймати правові, організаційні та технічні заходи для захисту персональних даних від неправомірного або випадкового доступу до них, знищення, перекручення, блокування, копіювання, надання, поширення персональних даних, а також від інших неправомірних дій по відношенню до персональних даних.' | translate}}</li>
      </ul>

      <h3>{{'Основні права та обов\'язки суб\'єктів персональних даних' | translate}}</h3>
      <p><b>{{'Суб\'єкти персональних даних мають право:' | translate}}</b></p>
      <ul>
        <li>{{'отримувати інформацію, що стосується обробки їх персональних даних, за винятком випадків, передбачених чинним законодавством України. Відомості надаються суб\'єкту персональних даних Оператором в доступній формі, і в них не повинні міститися персональні дані, пов\'язані з іншим суб\'єктам персональних даних, за винятком випадків, коли є законні підстави для розкриття таких персональних даних.;' | translate}}</li>
        <li>{{'вимагати від Оператора уточнення своїх персональних даних, їх блокування або знищення в разі, якщо персональні дані є неповними, застарілими, неточними, незаконно отриманими або не є необхідними для заявленої мети обробки;' | translate}}</li>
        <li>{{'висувати умову попередньої згоди при обробці персональних даних в цілях просування на ринку товарів, робіт і послуг;' | translate}}</li>
        <li>{{'відмовитися від надання будь-якої інформації, доповнювати або змінювати свої персональні дані та / або видалити свій обліковий запис;' | translate}}</li>
        <li>{{'відмовитися від маркетингових повідомлень на електронну пошту в кожному такому листі, який направляється Користувачу.' | translate}}</li>
      </ul>

      <p><b>{{'Суб\'єкти персональних даних зобов\'язані:' | translate}}</b></p>
      <ul>
        <li>{{'надавати Оператору достовірні дані про себе;' | translate}}</li>
        <li>{{'повідомляти Оператору про уточнення (оновлення, зміну) своїх персональних даних.' | translate}}</li>
      </ul>

      <p>{{'Особи, які передали Оператору недостовірні відомості про себе, в тому числі відомості про іншого суб\'єкта персональних даних без згоди останнього, несуть відповідальність відповідно до чинного законодавства України.' | translate}}</p>

      <h3>{{'Які дані ми збираємо?' | translate}}</h3>
      <p>{{'Коли ви зв\'язується з нами, використовуючи будь-які засоби комунікації, у тому числі, але не виключно: електронна пошта, факс, телефон, соціальні мережі, за допомогою онлайн-форми, використовуєте персональний електронний кабінет на веб-сайті Оператора, зареєстровуєтесь в Додатку Оператора або укладаєте угоди з нами, ми можемо збирати ваші персональні дані, у тому числі:' | translate}}</p>
      <ol>
        <li>{{'Вашу IP-адресу;' | translate}}</li>
        <li>{{'інформацію про пристрій, включаючи, серед іншого, ідентифікатор, назву і тип операційної системи;' | translate}}</li>
        <li>{{'інформацію про мобільні мережі;' | translate}}</li>
        <li>{{'стандартну веб-інформацію,  як наприклад тип Вашого браузера і сторінки, до яких Ви заходите на нашому веб-сайті;' | translate}}</li>
        <li>{{'прізвище, ім\'я та по-батькові;' | translate}}</li>
        <li>{{'електронну адресу' | translate}}</li>
        <li>{{'номери телефонів' | translate}}</li>
        <li>{{'рік, місяць, дату і місце народження.' | translate}}</li>
      </ol>
      <p>{{'Як частина процесу користування CoffeePhone, щоб ви могли знайти своїх друзів та/або вони вас, певна інформація, як-от ваше ім’я, фотографія та адреса електронної пошти, може бути відображена на Веб-сайті/у Додатку.' | translate}}</p>

      <p>{{'Також на сайті відбувається збір і обробка знеособлених даних про відвідувачів (в т.ч. файлів «cookie») за допомогою сервісів інтернет-статистики (Яндекс Метрика і Гугл Аналітика та інших).' | translate}}</p>
      <p>{{'Обробка спеціальних категорій персональних даних, що стосуються расової, національної приналежності, політичних поглядів, релігійних і філософських переконань, інтимного життя, Оператором не проводиться.' | translate}}</p>
      <p>{{'Згода Користувача на обробку персональних даних, дозволених для поширення, оформляється окремо від інших згод на обробку його персональних даних. Вимоги до змісту такої згоди встановлюються уповноваженим органом із захисту прав суб\'єктів персональних даних та чинним законодавством України.' | translate}}</p>
      <p>{{'Згоду на обробку персональних даних, дозволених для поширення, Користувач надає Оператору безпосередньо шляхом окремого підтвердження на сайті https://coffeephone.net або в Додатку CoffeePhone.' | translate}}</p>
      <p>{{'Передача (в тому числі розкриття) персональних даних, дозволених суб\'єктом персональних даних для поширення, повинна бути припинена в будь-який момент на вимогу суб\'єкта персональних даних. Дана вимога має включати в себе прізвище, ім\'я, по батькові (за наявності), контактну інформацію (номер телефону, адресу електронної пошти або поштову адресу) суб\'єкта персональних даних, а також перелік персональних даних, обробка яких підлягає припиненню. Зазначені в даній вимозі персональні дані можуть оброблятися тільки Оператором, якому направлена відповідна вимога.' | translate}}</p>
      <p>{{'Згода на обробку персональних даних, дозволених для поширення, припиняє свою дію з моменту надходження Оператору вимоги, зазначеної вище.' | translate}}</p>

      <h3>{{'Ми збираємо Ваші персональні дані для таких цілей:' | translate}}</h3>
      <ol>
        <li>{{'моніторингу і аналізу тенденцій, використання і активності нашого Веб-сайту або Додатку і послуг, а також з метою надання третім особам узагальненої і анонімної статистичної інформації про наших Користувачів;' | translate}}</li>
        <li>{{'запобігання, стримування і розслідування порушень цієї Політики  та / або правил користування нашого Веб-сайту або Додатку, або будь-якого шахрайства та іншої незаконної діяльності.' | translate}}</li>
        <li>{{'зв\'язок з Вами;\n' | translate}}</li>
        <li>{{'направлення Вам повідомлень, які містять інформацію про новини та події, які, на нашу думку, можуть бути цікавими для Вас;' | translate}}</li>
        <li>{{'надання відповідей на Ваші запити, питання та реагування на Ваші потреби;' | translate}}</li>
        <li>{{'проведення опитувань та досліджень;' | translate}}</li>
        <li>{{'передача інформації компаніям з надання кур’єрських, бухгалтерських послуг та/або банкам;' | translate}}</li>
        <li>{{'використання Вами веб-сайту Оператора та його функціоналу;' | translate}}</li>
        <li>{{'адміністрування Вашого облікового запису, веб-сайту та Додатку Оператора, у тому числі покращення роботи Інтернет-сервісів Оператора (розробка нових функцій та пропозицій тощо).' | translate}}</li>
      </ol>

      <h3>{{'Принципи обробки персональних даних' | translate}}</h3>
      <ol>
        <li>{{'Обробка персональних даних здійснюється на законних основах відкритості і справедливості.' | translate}}</li>
        <li>{{'Обробка персональних даних обмежується досягненням конкретних, заздалегідь визначених законних цілей. Не допускається обробка персональних даних, несумісна з цілями збору персональних даних визначених цією Політикою.' | translate}}</li>
        <li>{{'Обробці підлягають тільки персональні дані, які відповідають цілям їх обробки, визначеним цією Політикою.' | translate}}</li>
        <li>{{'Зміст і обсяг персональних даних, які підлягають обробці відповідають заявленим цілям обробки. Не допускається обробка  персональних даних всупереч заявленим цілям їх обробки, які визначені цією Політикою.' | translate}}</li>
        <li>{{'При обробці персональних даних забезпечується точність персональних даних, їх достатність, а також відповідність цілям обробки персональних даних визначених цією Політикою. Оператор вживає необхідних заходів (та / або забезпечує їх прийняття) з видалення або уточнення неповних або неточних даних.' | translate}}</li>
        <li>{{'Зберігання персональних даних здійснюється у формі, що дозволяє визначати суб\'єкта персональних даних не довше, ніж цього вимагають цілі обробки персональних даних, якщо термін зберігання персональних даних не встановлено законом, договором, стороною якого, є суб\'єкт персональних даних. Персональні дані, які підлягають обробці, знищуються або знеособлюються після досягнення цілей обробки або в разі втрати необхідності в досягненні цих цілей, якщо інше не передбачено цією Політикою та чинним законодавством України.' | translate}}</li>
      </ol>

      <h3>{{'Цілі обробки персональних даних' | translate}}</h3>
      <p><b>{{'Ми обробляємо персональні дані для конкретних законних цілей, серед яких, зокрема:' | translate}}</b></p>
      <ol>
        <li>{{'інформування Користувача за допомогою відправки електронних листів;' | translate}}</li>
        <li>{{'зв\'язок з вами;' | translate}}</li>
        <li>{{'направлення Вам електронних повідомлень, які містять інформацію про новини, події тощо, які, на нашу думку, можуть бути цікавими для Вас.' | translate}}</li>
        <li>{{'виконання договору, стороною якого або вигодонабувачем якого є суб\'єкт персональних даних, а також для укладення договору з ініціативи суб\'єкта персональних даних або договору, за яким суб\'єкт персональних даних буде вигодонабувачем.' | translate}}</li>
        <li>{{'Обробка персональних даних необхідна для здійснення прав і законних інтересів оператора або третіх осіб або для досягнення суспільно значущих цілей за умови, що при цьому не порушуються права і свободи суб\'єкта персональних даних.' | translate}}</li>
      </ol>

      <p>{{'Будь ласка, зверніть увагу, що, окрім перерахованих вище цілей, ми також можемо обробляти Ваші персональні дані для надання правоохоронним органам інформації, яка є необхідною для кримінального провадження, або якщо така обробка є необхідною для виконання іншого законного обов\'язку, з метою захисту Вашого життєво-важливого інтересу як суб’єкта персональних даних або інтересу іншої фізичної особи, або захисту будь-яких інших законних інтересів Оператора чи третьої особи, які не порушують Ваші основні права та свободи як суб\'єкта персональних даних.' | translate}}</p>
      <p>{{'Законний інтерес означає інтерес Оператора в рамках здійснення його діяльності. Коли ми обробляємо Вашу особисту інформацію в цілях, що відповідають нашим законним інтересам, ми обов\'язково збалансовуємо будь-який потенційний вплив на вас та ваші права. Наші законні інтереси автоматично не переважають над вашими інтересами.' | translate}}</p>
      <p>{{'Ми також можемо збирати дані, які не відносяться безпосередньо до конкретної людини (вони не є персональними даними). Ми можемо збирати, використовувати, передавати і розкривати такі відомості з будь-якою метою. При об\'єднанні даних, що не є персональними, з персональними даними об\'єднані дані будуть вважатися особистими, поки вони залишаються об\'єднаними.' | translate}}</p>

      <h3>{{'Правові підстави обробки персональних даних' | translate}}</h3>
      <ol>
        <li>
          {{'Правовими підставами обробки персональних даних Оператором є:'}}
          <br><br>
          {{'закони, інші нормативно-правові акти у сфері захисту персональних даних;' | translate}}
          {{'згоди користувачів на обробку їх персональних даних та на обробку персональних даних, дозволених для поширення.' | translate}}
        </li>
        <li>{{'Оператор обробляє персональні дані Користувача тільки в разі їх заповнення та / або відправки Користувачем самостійно через спеціальні форми, розташовані на сайті https://coffeephone.net або спрямовані Оператору за допомогою електронної пошти. Заповнюючи відповідні форми і / або відправляючи свої персональні дані Оператору, Користувач висловлює свою згоду з цією політикою.' | translate}}</li>
        <li>{{'Оператор обробляє знеособлені дані про Користувача в разі, якщо це дозволено в налаштуваннях браузера Користувача (включено збереження файлів «cookie» і використання технології JavaScript). У разі, якщо обробка знеособлених персональних даних про Користувача заборонена в налаштуваннях браузера Користувача, сервіси Оператора можуть працювати не коректно.' | translate}}</li>
        <li>{{'Суб\'єкт персональних даних самостійно приймає рішення про надання його персональних даних і дає згоду на їх обробку на свій власний розсуд.' | translate}}</li>
      </ol>

      <h3>{{'Умови обробки персональних даних' | translate}}</h3>
      <ol>
        <li>{{'Обробка персональних даних здійснюється за згодою суб\'єкта персональних даних на обробку його персональних даних.' | translate}}</li>
      </ol>


      <h3>{{'Порядок збору, зберігання, передачі та інших видів обробки персональних даних' | translate}}</h3>
      <p>{{'Безпека персональних даних, які обробляються Оператором, забезпечується шляхом реалізації правових, організаційних і технічних заходів, необхідних для виконання в повному обсязі вимог чинного законодавства у сфері захисту персональних даних.' | translate}}</p>

      <ol>
        <li>{{'Оператор забезпечує збереження персональних даних і вживає всіх можливих заходів, що виключають можливість доступу до персональних даних неуповноважених осіб' | translate}}</li>
        <li>{{'Персональні дані Користувача не передаються третім особам, за винятком партнерів Оператора, дочірніх компаній, агентств та субпідрядників, а також інших третіх осіб, залучення яких необхідне для досягнення цілей, для яких такі персональні дані були зібрані.' | translate}}</li>
        <li>{{'У разі виявлення неточностей в персональних даних, Користувач може актуалізувати їх самостійно, шляхом направлення відповідного  повідомлення Оператору на електронну адресу support@coffeephone.net з позначкою «Актуалізація персональних даних».' | translate}}</li>
        <li>{{'Термін обробки персональних даних визначається досягненням цілей, для яких були зібрані персональні дані, якщо інший термін не передбачено договором або чинним законодавством. Користувач може в будь-який момент відкликати свою згоду на обробку персональних даних, направивши Оператору повідомлення за допомогою електронної пошти на електронну адресу support@coffeephone.net з позначкою «Відкликання згоди на обробку персональних даних».' | translate}}</li>
        <li>{{'Вся інформація, яка збирається сторонніми сервісами, в тому числі платіжними системами, засобами зв\'язку та іншими постачальниками послуг, зберігається і обробляється зазначеними особами відповідно до їх Політики конфіденційності. Суб\'єкт персональних даних та / або Користувач зобов\'язаний самостійно ознайомитися із зазначеними документами. Оператор не несе відповідальність за дії третіх осіб, в тому числі зазначених у цьому пункті постачальників послуг.' | translate}}</li>
        <li>{{'Оператор при обробці персональних даних забезпечує конфіденційність персональних даних.' | translate}}</li>
        <li>{{'Персональні дані Користувачів зберігаються на орендованому сервері Оператора, який може знаходитися як в Україні, так і за кордоном. Користувач підтверджує можливість та надає Оператору право переміщати персональні дані через кордон України, з метою, для якої така інформація була зібрана. Оператор зобов’язується вживати належних заходів безпеки для захисту від неправомірного доступу та неправомірної зміни, розголошення або знищення персональних даних Користувача.' | translate}}</li>
        <li>{{'Умовою припинення обробки персональних даних може бути досягнення цілей обробки персональних даних, закінчення терміну дії згоди суб\'єкта персональних даних або відкликання згоди суб\'єктом персональних даних, а також виявлення неправомірної обробки персональних даних.' | translate}}</li>
      </ol>

      <h3>{{'Перелік дій, вироблених Оператором з отриманими персональними даними' | translate}}</h3>
      <ol>
        <li>{{'Оператор здійснює збір, запис, систематизацію, накопичення, зберігання, уточнення (оновлення, зміну), витяг, використання, передачу (поширення, надання доступу), знеособлення, блокування, видалення і знищення персональних даних.' | translate}}</li>
        <li>{{'Оператор здійснює автоматизовану обробку персональних даних з отриманням та/або передачею отриманої інформації через інформаційно-телекомунікаційні мережі або без такої.' | translate}}</li>
      </ol>

      <h2>{{'Захист Ваших персональних даних' | translate}}</h2>
      <p>{{'Оператор і інші особи, які отримали доступ до персональних даних, зобов\'язані не розголошувати третім особам і не поширювати персональні дані без згоди суб\'єкта персональних даних, якщо інше не передбачено законом.' | translate}}</p>

      <p><b>{{'Заключні положення' | translate}}</b></p>
      <ul>
        <li>{{'Користувач може отримати будь-які роз\'яснення з потрібних питань, що стосуються обробки його персональних даних, звернувшись до Оператора через електронну пошту support@coffeephone.net' | translate}}</li>
        <li>{{'В даному документі будуть відображені будь-які зміни порядку обробки персональних даних Оператором. Політика діє безстроково до заміни її новою версією.' | translate}}</li>
        <li>{{'Актуальна версія Політики у вільному доступі розташована в мережі Інтернет за адресою https://coffeephone.net/privacy-policy' | translate}}</li>
      </ul>

      <h2>{{'Політика використання файлів cookie для CoffeePhone' | translate}}</h2>
      <p>{{'Це Політика щодо використання файлів cookie для CoffeePhone, доступна на сайті coffeephone.net' | translate}}</p>

      <h3>{{'Що таке файли cookie' | translate}}</h3>
      <p>{{'Користуючись нашим сайтом, Ви погоджуєтесь на використання файлів cookie. Наш сайт використовує файли cookie, що являють собою невеликі текстові файли, які розміщені на вашому пристрої для зберігання даних і котрі може читати веб-сервер в домені, що розмістив їх. Ми використовуємо файли cookie для забезпечення можливості вашої авторизації на нашому веб-сайті, аналізу роботи веб-сайту, відстеження діяльності Користувачів на веб-сайті, збору даних трафіку та для досягнення інших законних цілей.' | translate}}</p>
      <p>{{'Більшість веб-браузерів автоматично використовують файли cookie, надаючи при цьому користувачам можливість керувати цим процесом шляхом їх блокування або видалення.' | translate}}</p>

      <h3>{{'Як ми використовуємо файли cookie' | translate}}</h3>
      <p>{{'Ми використовуємо файли cookie з різних причин, описаних нижче. На жаль, у більшості випадків не існує стандартних варіантів відключення файлів cookie без повного відключення функціональних можливостей та функцій, які вони додають на цей сайт. Рекомендується залишити всі файли cookie, якщо ви не впевнені, чи потрібні вони вам чи ні, якщо вони використовуються для надання послуги, якою ви користуєтесь.' | translate}}</p>

      <h3>{{'Вимкнення файлів cookie' | translate}}</h3>
      <p>{{'Ви можете запобігти встановленню файлів cookie, налаштувавши параметри у своєму браузері.  Інструкції з блокування або видалення файлів cookie можна знайти в налаштуваннях конфіденційності або довідковій документації кожного веб-браузера. Майте на увазі, що вимкнення файлів cookie вплине на функціональність нашого та багатьох інших веб-сайтів, які ви відвідуєте. Вимкнення файлів cookie зазвичай призводить до відключення певних функціональних можливостей та функцій цього веб-сайту. Тому рекомендується не відключати файли cookie.' | translate}}</p>

      <h3>{{'Файли cookie, які ми встановлюємо' | translate}}</h3>

      <ul>
        <li>
          {{'Файли cookie, що стосуються входу.' | translate}} <br>
          {{'Ми використовуємо файли cookie, коли ви увійшли в систему, щоб ми могли запам’ятати цей факт. Це запобігає необхідності входу в систему кожного разу, коли ви відвідуєте нову сторінку. Ці файли cookie зазвичай видаляються або видаляються, коли ви виходите з системи, щоб забезпечити доступ до обмежених функцій та областей лише при вході в систему' | translate}}
        </li>
        <li>
          {{'Файли cookie налаштувань сайту' | translate}} <br>
          {{'Для того, щоб забезпечити вам чудову роботу на цьому веб-сайті, ми надаємо функціонал для встановлення ваших уподобань щодо функціонування цього сайту, коли ви ним користуєтесь. Щоб запам’ятати ваші уподобання, нам потрібно встановити файли cookie, щоб ця інформація могла викликатися щоразу, коли на вашу взаємодію зі сторінкою впливають ваші уподобання.' | translate}}
        </li>
      </ul>


      <h3>{{'Сторонні файли cookie' | translate}}</h3>
      <p>{{'У деяких особливих випадках ми також використовуємо файли cookie, надані надійними третіми сторонами. У наступному розділі докладно описано, які сторонні файли cookie ви можете зустріти на цьому веб-сайті.' | translate}}</p>

      <ul>
        <li>
          {{'Цей веб-сайт використовує Google Analytics, яке є одним із найбільш розповсюджених та надійних аналітичних рішень в Інтернеті, щоб допомогти нам зрозуміти, як ви використовуєте цей сайт, і способи покращення вашого досвіду. Ці файли cookie можуть відстежувати такі речі, як те, як довго ви проводите на веб-сайті та сторінки, які ви відвідуєте, щоб ми могли продовжувати створювати цікавий вміст. Для отримання додаткової інформації про файли cookie Google Analytics див. Офіційну сторінку Google Analytics.' | translate}}
          <br>
          {{'Для отримання додаткової інформації про файли cookie Google Analytics див. Офіційну сторінку' | translate}}
          <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=ru" target="_blank" rel="nofollow noopener noreferrer">Google Analytics.</a>
        </li>
        <li>
          {{'Стороння аналітика використовується для відстеження та вимірювання використання цього веб-сайту, щоб ми могли продовжувати створювати цікавий вміст. Ці файли cookie можуть відстежувати такі речі, як те, скільки часу ви проводите на веб-сайті або сторінках, які ви відвідуєте, що допомагає нам зрозуміти, як ми можемо покращити сайт для вас.' | translate}}
        </li>
        <li>
          {{'Час від часу ми тестуємо нові функції та вносимо незначні зміни в спосіб доставки сайту. Коли ми все ще тестуємо нові функції, ці файли cookie можуть використовуватися для забезпечення постійного досвіду роботи на сайті, гарантуючи, що ми розуміємо, яку оптимізацію наші користувачі найбільше цінують.' | translate}}
        </li>
        <li>
          {{'Оскільки ми продаємо товари, нам важливо розуміти статистичні дані про те, скільки відвідувачів нашого веб-сайту насправді робить покупку, і як такі, це ті дані, які ці файли cookie будуть відстежувати. Це важливо для вас, оскільки це означає, що ми можемо точно робити бізнес-прогнози, що дозволяють контролювати рекламу та витрати на продукцію, щоб забезпечити найкращу ціну.' | translate}}
        </li>
      </ul>

      <h3>{{'Більше інформації' | translate}}</h3>

      <p>{{'Будемо сподіватися, що це пояснило для вас речі, і, як уже згадувалося раніше, якщо є щось, що ви не впевнені, потрібні вам чи ні, зазвичай безпечніше залишати ввімкнені файли cookie, якщо це взаємодіє з однією з функцій, якими ви користуєтесь на нашому сайті.' | translate}}</p>

      <p>{{'Щоб отримати більш загальну інформацію про файли cookie, прочитайте ' | translate}}
        <a href="https://uk.wikipedia.org/wiki/%D0%9A%D1%83%D0%BA%D0%B8" target="_blank" rel="nofollow noopener noreferrer">{{'"Що таке файли cookie".' | translate}}</a> </p>

      <p>{{'Однак, якщо ви все ще шукаєте додаткову інформацію, ви можете зв’язатися з нами одним із найкращих методів зв’язку:' | translate}}</p>

      <ul>
        <li>
          {{'Відвідавши це посилання: ' | translate}} <a href="mailto:support@coffeephone.net">support@coffeephone.net</a>
        </li>
      </ul>
    </section>
  </div>
</div>

<app-footer *ngIf="isPwaApp()"></app-footer>
