@import "src/assets/styles/helpers/_mixins.scss";

.c-scrollTop {
  &__button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: var(--ex-color-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    color: var(--ex-bg--800);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    transition: var(--ex-transition-secondary);
    transform: translateY(150%);
    visibility: collapse;
    z-index: 102;

    @include tablets {
      bottom: calc(var(--ex-mobileMenu-height) + 20px);
    }

    &.nearSearch {
      bottom: 80px;

      @include tablets {
        bottom: calc(var(--ex-mobileMenu-height) + 70px);
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
