<mat-form-field [appearance]="appearance" style="width: 100%;"
                hintLabel="{{'Мін.' | translate}}&nbsp;{{minPassLength}}&nbsp;{{ 'символів (велика, мала літера)' | translate }}">
  <mat-label>{{placeholder | translate}}</mat-label>
  <input [type]="hideNewPass ? 'password' : 'text'"
         [formControl]="formControl"
         [autocomplete]="autoCompleteType"
         inputMode="text"
         #pass matInput>
  <mat-icon class="mat-form-field-icon--password" (click)="hideNewPass = !hideNewPass">{{hideNewPass ? 'visibility_off' : 'visibility'}}</mat-icon>
  <mat-hint align="end">{{pass.value?.length || 0}}/{{minPassLength}}</mat-hint>
  <mat-error>
    <p *ngIf="formControl.hasError('required')">{{'Будь ласка, введіть пароль' | translate}}</p>
    <p *ngIf="formControl.hasError('pattern')">{{ getErrorMsg('IncorrectPassword') | translate }}</p>
  </mat-error>
</mat-form-field>


