<div class="c-authPasswordRecovery">
  <p class="c-dialog__title">{{'Відновлення паролю' | translate}}</p>

  <ng-container *ngIf="isCodeTemplate; else isEmailTemplate">
    <form class="c-authForm" [formGroup]="codeForm" (ngSubmit)="sendPasswordRecovery()">
      <mat-form-field appearance="fill" class="c-authForm__inputWrapper">
        <mat-label>{{'Введіть код підтвердження' | translate}}</mat-label>
        <label>
          <input type="text" matInput formControlName="code">
        </label>
        <mat-error *ngIf="codeForm.get('code').hasError('required')">
          {{'Код підтвердження є обов\'язковим' | translate}}
        </mat-error>
      </mat-form-field>

      <div class="o-inputPassword__filed">
        <input-password [placeholder]="'Введіть новий пароль' | translate"
                        [formControl]="codeForm.get('password')"
                        (paste)="false"
                        ngDefaultControl></input-password>
      </div>

      <div class="o-inputPassword__filed">
        <input-password [placeholder]="'Повторіть пароль' | translate"
                        [formControl]="codeForm.get('password_confirmation')"
                        (paste)="false"
                        ngDefaultControl></input-password>

        <mat-error class="o-inputPassword__filedError"
                   *ngIf="codeForm.get('password_confirmation').valid && codeForm.errors?.equivalent">
          {{'Паролі не збігаються. Будь ласка, повторно введіть свій пароль' | translate}}
        </mat-error>
      </div>


      <mat-error *ngIf="error" class="c-authForm__error">{{error | translate}}</mat-error>

      <div class="c-dialog__footer">
        <div class="c-dialog__footerBtns">
          <button class="o-button o-button--gray" type="button" matDialogClose matRipple>{{'Скасувати' | translate}}</button>
          <button class="o-button o-button--secondary" type="submit" [disabled]="!sendPasswordRecoverySub.closed" matRipple>
            <ng-container *ngIf="sendPasswordRecoverySub.closed; else btnLoading">
              {{'Відновити' | translate}}
            </ng-container>
          </button>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-template #isEmailTemplate>
    <form class="c-authForm" [formGroup]="form" (ngSubmit)="sendEmailPasswordRecovery()">
      <mat-form-field appearance="fill" class="c-authForm__inputWrapper">
        <mat-label>{{'Введіть свій email' | translate}}</mat-label>
        <label>
          <input type="email" matInput formControlName="email">
        </label>
        <mat-error *ngIf="form.get('email').hasError('email') && !form.hasError('required')">
          {{'Будь ласка, введіть вірний email' | translate}}
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('required')">
          {{'Email є обов\'язковим' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="error" class="c-authForm__error">{{error | translate}}</mat-error>

      <div class="c-dialog__footer">
        <div class="c-dialog__footerBtns">
          <button class="o-button o-button--gray" type="button" matDialogClose matRipple>{{'Скасувати' | translate}}</button>
          <button class="o-button o-button--secondary" [disabled]="!sendEmailSub.closed" type="submit" matRipple>
            <ng-container *ngIf="sendEmailSub.closed; else btnLoading">
              {{'Надіслати' | translate}}
            </ng-container>
          </button>
        </div>
      </div>
    </form>
  </ng-template>
</div>

<ng-template #btnLoading>
  <spinner class="o-buttonSpinner o-buttonSpinner--white"></spinner>
</ng-template>
