<div class="c-termsOfUse">
  <scroll-top></scroll-top>

  <div class="container">
    <div class="c-termsOfUse__title">
      <button class="c-termsOfUse__titleBack" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
      <h1 class="c-termsOfUse__titleText">{{'Правила користування' | translate}}</h1>
    </div>
    <p class="c-termsOfUse__lastUpdated">{{'Останнє оновлення' | translate}}: 10.08.2021</p>

    <section class="c-termsOfUse__content">
      <p><b>{{'Сайт CoffeePhone не є засобом масової інформації.' | translate}}</b></p>

      <p>{{'Використовуючи сайт, Ви погоджуєтеся з умовами цих Правил користування.' | translate}}</p>
      <p><b>{{'Якщо Ви не згодні з умовами даних Правил користування, не використовуйте сайт CoffeePhone!' | translate}}</b></p>

      <h3>{{'Права та обов\'язки сторін' | translate}}</h3>
      <p>{{'Користувач має право:' | translate}}</p>
      <ul>
        <li>{{'- здійснювати пошук інформації на сайті та додатку CoffeePhone' | translate}}</li>
        <li>{{'- отримувати інформацію на сайті та додатку CoffeePhone' | translate}}</li>
        <li>{{'- використовувати інформацію сайту в особистих некомерційних цілях' | translate}}</li>
      </ul>

      <h3>{{'Адміністрація має право:' | translate}}</h3>
      <ul>
        <li>{{'- на свій розсуд і необхідності створювати, змінювати, скасовувати правила' | translate}}</li>
        <li>{{'- обмежувати доступ до будь-якої інформації на сайті' | translate}}</li>
        <li>{{'- створювати, змінювати, видаляти інформацію' | translate}}</li>
        <li>{{'- видаляти облікові записи' | translate}}</li>
      </ul>

      <h3>{{'Користувач зобов\'язується:' | translate}}</h3>
      <ul>
        <li>{{'- не поширювати інформацію, яка спрямована на пропаганду війни, розпалювання національної, расової чи релігійної ненависті і ворожнечі, а також іншої інформації, за розповсюдження якої передбачена кримінальна або адміністративна відповідальність' | translate}}</li>
        <li>{{'- не порушувати працездатність сайту' | translate}}</li>
        <li>{{'- не створювати кілька облікових записів на Сайті, якщо фактично вони належать одній і тій же особі' | translate}}</li>
        <li>{{'- не здійснювати дії, спрямовані на введення інших користувачів в оману' | translate}}</li>
        <li>{{'- не передавати в користування свій обліковий запис і / або логін і пароль свого облікового запису третім особам' | translate}}</li>
        <li>{{'- не використовувати скрипти (програми) для автоматизованого збору інформації та / або взаємодії з Сайтом і його Сервісами' | translate}}</li>
      </ul>

      <h3>{{'Адміністрація зобов\'язується:' | translate}}</h3>
      <ul>
        <li>{{'- підтримувати працездатність сайту за винятком випадків, коли це неможливо з незалежних від Адміністрації причин.' | translate}}</li>
        <li>{{'- здійснювати різнобічну захист облікового запису Користувача' | translate}}</li>
        <li>{{'- захищати інформацію, поширення якої обмежено або заборонено законами шляхом винесення попередження або видаленням облікового запису користувача, який порушив правила' | translate}}</li>
      </ul>


      <h3>{{'Відповідальність сторін' | translate}}</h3>
      <ul>
        <li>{{'- користувач особисто несе повну відповідальність за поширювану їм інформацію' | translate}}</li>
        <li>{{'- адміністрація не несе ніякої відповідальності за достовірність інформації, скопійований з інших джерел' | translate}}</li>
        <li>{{'- адміністрація не несе відповідальність за розбіжність очікуваних Користувачем і реально отриманих послуг' | translate}}</li>
        <li>{{'- адміністрація не несе ніякої відповідальності за послуги, що надаються третіми особами' | translate}}</li>
        <li>{{'- в разі виникнення форс-мажорній ситуації (бойові дії, надзвичайний стан, стихійне лихо і т. Д.) Адміністрація не гарантує збереження інформації, розміщеної Користувачем, а також безперебійну роботу інформаційного ресурсу' | translate}}</li>
      </ul>

      <h3>{{'Умови дії Правил користування' | translate}}</h3>
      <p>{{'Дані Правила користування вступають в силу при повному або частковому розгортанні даного сайту та / або додатку CoffeePhone на сервері. Правила користування можуть втрачати чинність при появі його нової версії. Адміністрація залишає за собою право в односторонньому порядку змінювати ці Правила користування на свій розсуд. Адміністрація не сповіщає користувачів про зміну в Правилах користування.' | translate}}</p>

    </section>
  </div>
</div>

<app-footer *ngIf="isPwaApp()"></app-footer>
